    .layout {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .paper {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form {
        width: 100%; 
        margin-top: 20px;
        align-items: center;
        margin-bottom: 40px;
        margin-left: 10px;

    }
    .icon{
        display: flex;
        align-items:'center';
        justify-content: 'center';
        justify-items: 'center';
        margin-left: 50px;
    }
    .submit {
        margin-top: 20px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        width: 70px;
        height: 50px;
    }
   
